/* Enter your custom styles here */
.selHdrKeyFontStyle {
    font-style: italic;
}

.activeRow {
    background-color: #e1ebf3 !important;
}

.requiredField {
    color: red !important;
}

.sapMLabelRequired, .sapMLabelRequired::before {
    color: #c75858 !important;
}

.sapMDialogScroll {
    height: 100%;
}

.green {
    background-color: #28a745;
    border-radius: 0.5rem;
    width: 99%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: white;
}

.splitter > .sapMFlexItem {
    height: 100%;
}